<%= image_tag "hands.jpg", class: "width-500" %>
<nav class="navbar small">
  <div class="container-fluid">
    <ul class="nav">
      <li class="navbar-brand"> <%= link_to "Sarah", '/pages/about' %> </li>
      <li class="navbar-brand"> <%= link_to "Other?", '/pages/about' %> </li>
    </ul>
  </div>
</nav>
