@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body {
  font-family: 'Julius Sans One', sans-serif;
}

.footer {
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.width-500 {
  width: 100%;
  text-align: center;
}
