@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body {
  font-family: 'Julius Sans One', sans-serif;
}

.fancy-font {
  font-family: 'Bad Script', cursive;
}

a.navbar-brand {
  font-size: 30px;
}

nav a {
  color: black;
}

.footer {
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.width-500 {
  width: 100%;
  text-align: center;
}

.width-100 {
  width: 300px;
  margin-left: 15%;
  text-align: center;
}

p.width-100 {
  margin-top: 20px;
}

.img-rounded {
  width: 100px;
}

.team {
  margin-left: 20%;
}

.team-row {
  margin-top: 20px;
}

h2 {
  text-align: center;
}

hr {
  width: 75%;
}

.mission {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
